body {
    font-family: Georgia, serif;
    text-align: center;
    background-color: #000; /* Changed to black */
    margin: 0;
    padding: 0;
    color: #0a0a0a; /* Changed text color to white for better contrast */
}

h1 {
    color: #d2c6c6; /* Changed to white */
    margin-top: 20px;
}

#input-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #d7cca1; /* Changed to a bright color for visibility */
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #f6eaea; /* Added a border for visibility */
    background-color: #333; /* Dark background for inputs */
    color: #070707; /* White text color for inputs */
}

button {
    background-color: #007BFF;
    color: #ffffff; /* Changed to white */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#map {
    height: 500px;
    margin: 20px auto;
    width: 100%;
    max-width: 1700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Light shadow for contrast */
}

#distance-display {
    margin-top: 10px;
    font-size: 1.2em;
    color: #f3eded; /* Changed to white */
}


